*{
    padding: 0;
    margin: 0;

}
body{
        font-family: "Quicksand", sans-serif; 

      }
      
.container{
    padding: 50px;

}

.section-one{
    background-color: black;
    color: white;
    padding: 20px;
}

.section-one__contact{
    background-color: #f7ee7f;
    color: black;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    margin-top: 10px;
}

.section-one__name{
    font-size: 60px;
}

.section-one__role{
    font-size: 30px;
    margin-top: 10px;
}

.section-two,.section-three,.section-four,.section-five,.section-six{
    margin-top: 20px;
}

.section-two__desc{
    background-color: #ffb3c1;
}

.section-two__desc,.section-three__desc,.section-four__desc,.section-five__desc,.section-six__desc{
    margin-top: 10px;
}

.section-six{
    background-color: black;
    color: white;
    padding: 20px;
    
}

.section-six__title a{
    color: skyblue;

}


.section-three li,.section-four li,.section-five li{
    list-style: none;
}


.section-three{
    background-color: #edc4b3;
    color: black;
    padding: 20px;
    display: inline-block;
    height: 200px;
    border-radius: 10px;
    vertical-align: top;

}

.section-four{
    background-color: #deab90;
    color: black;
    padding: 20px;
    display: inline-block;
    height: 200px;
    border-radius: 10px;
    vertical-align: top;

}

.section-five{
    background-color: #9d6b53;
    color: black;
    padding: 20px;
    display: inline-block;
    height: 200px;
    border-radius: 10px;
    vertical-align: top;
}

.contact-div{
    text-align: center;
    padding: 20px;
}

.contact-form{
    margin-top: 20px;
    text-align: center;


}

.contact-form__input,.contact-form__textarea,.contact-form__submit{
    margin-top: 10px;
}

.contact-form__input{
    padding: 10px;
    border: none;
    border-bottom: solid black 1px;
}

.contact-form__textarea{
    padding: 10px;
    border: none;
    border: solid black 1px;
}

.contact-form__submit{
    background-color: #f9edcc;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;

}

@media (max-width: 600px){
    .section-one__name{
        font-size: 35px;
    }
    .section-one__role{
        font-size: 20px !important;
    }

    .section-five {
        height: 500px !important;
    }

}


@media (min-width: 900px){
    .section-body{
        padding: 5px;
    }    
}
